[Unit]
Description=HybridInference
Wants=network-online.target
After=network-online.target home.mount

[Service]
User=murphy
Group=murphy
Type=simple
WorkingDirectory=/home/murphy/hybridInference
ExecStart=/home/murphy/hybridInference/.venv/bin/uvicorn serving.servers.app:app \
  --host 127.0.0.1 \
  --port 8080 \
  --no-server-header


Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

Environment=PYTHONPATH=/home/murphy/hybridInference

NoNewPrivileges=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
